.page {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  background-color: rgb(230, 230, 230);
}

.main-block {
  position: relative;
  align-self: center;
  padding: 10px;;
  border: 1px solid rgb(123, 135, 145);
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  color: #434343;
}

.play-field {
  display: grid;
  grid-template-areas:
    "cell1 cell2 cell3 cell4"
    "cell5 cell6 cell7 cell8"
    "cell9 cell10 cell11 cell12"
    "cell13 cell14 cell15 cell16";
    grid-gap: 3px;
    border: 3px solid rgb(176, 182, 187);
    background-color: rgb(176, 182, 187);
}

.cell1 {
  grid-area: cell1;
  background-color: rgba(255, 255, 255, 1);
}

.cell2 {
  grid-area: cell2;
  background-color: rgba(255, 255, 255, 1);
}

.cell3 {
  grid-area: cell3;
  background-color: rgba(255, 255, 255, 1);
}

.cell4 {
  grid-area: cell4;
  background-color: rgba(255, 255, 255, 1);
}

.cell5 {
  grid-area: cell5;
  background-color: rgba(255, 255, 255, 1);
}

.cell6 {
  grid-area: cell6;
  background-color: rgba(255, 255, 255, 1);
}

.cell7 {
  grid-area: cell7;
  background-color: rgba(255, 255, 255, 1);
}

.cell8 {
  grid-area: cell8;
  background-color: rgba(255, 255, 255, 1);
}

.cell9 {
  grid-area: cell9;
  background-color: rgba(255, 255, 255, 1);
}

.cell10 {
  grid-area: cell10;
  background-color: rgba(255, 255, 255, 1);
}

.cell11 {
  grid-area: cell11;
  background-color: rgba(255, 255, 255, 1);
}

.cell12 {
  grid-area: cell12;
  background-color: rgba(255, 255, 255, 1);
}

.cell13 {
  grid-area: cell13;
  background-color: rgba(255, 255, 255, 1);
}

.cell14 {
  grid-area: cell14;
  background-color: rgba(255, 255, 255, 1);
}

.cell15 {
  grid-area: cell15;
  background-color: rgba(255, 255, 255, 1);
}

.cell16 {
  grid-area: cell16;
  background-color: rgba(255, 255, 255, 1);
}

.play-field__square {
  width: 5rem;
  height: 5rem;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 1rem;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  color: #434343;
}

.control__start-btn {
  padding: 3px 15px;
  border: 1px solid rgba(255, 255, 255, 1);
  font: inherit;
  line-height: 1.2;
  color: #434343;
  background-color: rgb(176, 182, 187);
  box-shadow: 0 0 2px #000;
  cursor: pointer;
}

.main-block__modal {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 20px;
  padding-bottom: 100px;
  background-color: rgba(204, 204, 204, 0.8);
}

.main-block__modal-content {
  padding: 10px;
  border: 1px solid rgb(123, 135, 145);
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(176, 182, 187);
}

.main-block__modal-msg {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0 15px;
}

.main-block__modal-control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.main-block__modal-btn {
  padding: 3px 15px;
  border: 1px solid rgba(255, 255, 255, 1);
  font: inherit;
  line-height: 1.2;
  color: #434343;
  background-color: rgb(176, 182, 187);
  box-shadow: 0 0 2px #000;
  cursor: pointer;
}

.finger-cursor {
  cursor: pointer;
}

.show {
  display: flex;
}

.hide {
  display: none;
}
